---

---

<nav class="gnav">
  <div class="gnav-inner">
    <div class="gnav-main">
      <a href="/">
        <figure>
          <img src="/assets/images/sinmei_logo-icon.svg" alt="株式会社SINMEI" />
        </figure>
      </a>
      <figure>
        <img src="/assets/images/sinmei_name-logo.svg" alt="株式会社SINMEI" />
      </figure>
      <button class="gnav-hamburger" aria-label="Menu">
        <span class="gnav-hamburger-line"></span>
        <span class="gnav-hamburger-line"></span>
        <span class="gnav-hamburger-line"></span>
      </button>
    </div>
    <ul class="gnav-list">
      <li class="gnav-dropdown">
        <a href="/company" class="gnav-dropbtn">SINMEIとは</a>
        <ul class="gnav-dropdown_content">
          <li>
            <a href="/company#message">社長メッセージ</a>
          </li>
          <li>
            <a href="/company#overview">会社概要・沿革</a>
          </li>
          <li>
            <a href="/company#community">地域貢献</a>
          </li>
          <li>
            <a href="/company#access">アクセス</a>
          </li>
          <li>
            <a href="/company#sdgs">SDGs</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/news">お知らせ</a>
      </li>
      <li>
        <a href="/works">事業内容</a>
      </li>
      <li>
        <a href="/recruit">採用情報</a>
      </li>
      <li>
        <a href="/contact"
          >お問い合わせ</a
        >
        <a
          href="https://www.instagram.com/sinmei4320/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <figure>
            <img
              src="/assets/images/instagram.svg"
              alt="株式会社SINMEI Instagram"
            />
          </figure>
        </a>
      </li>
    </ul>
  </div>
</nav>
